
.col-md-4

{
	background-color:grey;
	position: right;
}
.col-md-4-mod
{
	background-color:lavender;

}
.col-md-3
{
	background-color: black;
	position: right;
}
.button-must
{
	
    padding: 11px 217px;
    margin-bottom: -44px;
}